# For interacting with the Kubernetes cluster
kubernetes

# A dedicated client for cleanly querying Prometheus
prometheus-api-client

# The core library for numerical operations and for our Q-Table
numpy

# For analyzing the CSV data after experiments are run
pandas
matplotlib
seaborn
